p{
    font-weight: bold;
    font-size: 20px;
}

#top{
    text-decoration: solid;
}

.emphasizedText{
    font-style: italic;
    color:  black;
}

body{
    background-color: rgb(4, 197, 88);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 20px solid black;
    margin: 20px;
    padding: 20px;
    text-align: center;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
 
    
}

ol{
    text-align: center;
    list-style-position: inside;
}

ul{
    text-align: center;
    list-style-position: inside;
}
.tableauPlaceholder{
   text-align: center;
   width: 50%;
}
.Arizonabear{
    align-self: right;
}
